<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Matricula</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Hora</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let dato of datosLeidos; let i = index">
        <tr *ngIf="isPresent(dato)">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ dato.Matricula }}</td>
          <td>{{ dato.Nombre }}</td>
          <td> {{dato.Estado}} </td>
          <td> {{dato.Hora}} </td>
        </tr>
    </ng-container>
  </tbody>
</table>

<div *ngFor="let item of listaAsistencia" >
  <p> matr {{item.Matricula}} </p>
  <p> matr {{item.Nombre}} </p>
</div>

<p> {{nrcMateria}} </p>
<p> {{carrera}} </p>
<p> </p>


<div>
  <h2>Último dato escaneado:</h2>
  <p>Matrícula: {{ getMatricula() || "No hay datos" }}</p>
  <p>Nombre: {{ getNombre() || "No hay datos" }}</p>
  <p>Status: {{ getStatus() || "No hay datos" }}</p>
</div>





