<zxing-scanner *ngIf="estado_Camara" style="width: 400px;"
  [enable]="scannerEnabled"
  [device]="myDevice"
  (camerasFound)="camerasFoundHandler($event)"
  (scanSuccess)="scanSuccessHandler($event)"
></zxing-scanner>

<div *ngIf="showScanSuccessMessage" class="scan-success-message">
  El código ha sido escaneado correctamente
</div>

<div>
  <h2>Último dato escaneado:</h2>
  <p>Matrícula: {{ lastMatricula || "No hay datos" }}</p>
  <p>Nombre: {{ lastNombre || "No hay datos" }}</p>
  <p>Status: {{ lastStatus || "No hay datos" }}</p>
</div>
